<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的Api</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/css/consumer.css">
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/bootstrap/js/jquery-3.3.1.min.js"></script>
</head>
<style>
    .myapilist{
        margin-top: 30px;
    }
</style>
<body>

<div id="header" class="col-lg-12 col-md-12 col-sm-12" style="background-color: #2aabd2">
    <div id="headertitle" class="col-sm-4 col-lg-2 col-md-4">
        <H3>消费者用户个人中心</H3>
    </div>
    <div id="userinfo">
        <label>
            <small>欢迎您</small>
        </label>
        <span>用户名</span>
    </div>
</div>
<div class="container-fluid col-sm-12 col-md-12 col-lg-12">
    <div id="sidebar" class="row col-lg-2 col-md-3 col-sm-3">

        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="/consumer/consumer_center">我的API</a></li>
            <li><a href="/consumer/consumer_houtai_apicenter">API中心</a></li>
            <li><a href="/consumer/consumer_houtai_appmanage">应用管理</a></li>
            <li><a href="#">报表查看</a></li>
            <li><a href="#">账单管理</a></li>
            <li><a href="#">用户设置</a></li>
        </ul>
    </div>

    <iframe src="/consumer/apilist" class="col-lg-9 col-md-9 col-sm-9" style="border:none;height: 1000px"></iframe>
 <!--   <div class="myapilist col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-8 col-md-8 col-lg-8">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Api名称</th>
                <th>Api的网关URL</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> 天气预报
                </td>
                <td> 127.0.0.1
                </td>
                <td> 配置，测试
                </td>
            </tr>

            </tbody>
        </table>
    </div>-->

</div>

</body>
</html>