<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>服务消费用户登录</title>
    <script type="text/javascript" src="../../static/bootstrap/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css" type="text/css"/>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap-theme.css" type="text/css"/>

</head>
<script>

</script>
<style >
    body{
        background-color: #444444;
    }
    .text-white{
        color: #f7f7f7;
    }
    .box{
        margin-left: 40%;
    }
    .form-group{
        margin-top: 40px;
    }
</style>
<script>

    function submit() {
        var consumerInfo={};
        consumerInfo.consumer_email=$("#consumer_email").val();
        consumerInfo.consumer_password=$("#consumer_password").val();
        console.log(JSON.stringify(consumerInfo));
        $.ajax({
            type : "POST",
            url : "/consumer/consumer_login",
            dataType : "text",
            data : JSON.stringify(consumerInfo),
            contentType:"application/json",
            success : function(data) {

                if(data==="success"){
                    alert("登录成功");
                    window.location.href="/consumer/consumer_center";
                }
                else{
                    alert("登录失败");
                }
            },
            error : function(data) {
                alert("登录失败");
                console.log(data);
            }
        });
    }
    $(function () {

        //此处为校验的核心代码
        $("#consumer_login_form").bootstrapValidator({
            submitHandler: function (valiadtor, loginForm, submitButton) {

                valiadtor.defaultSubmit();
            },
            fields: {
                consumer_email: {
                    validators: {
                        notEmpty: {
                            message: '登录邮箱名或用户名不能为空'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 1,
                            max: 30,
                            message: '用户名长度必须在4到30之间'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            /*长度提示*/
                            min: 6,
                            max: 30,
                            message: '密码长度必须在6到30之间'
                        }

                    }
                }
            }
        });

    });
</script>
<body>

<div class="box">
    <H1 class="text-white" style="margin-top: 10%">服务消费用户登录</H1>

    <form style="margin-top: 100px" id="consumer_login_form" action="" method="post">
        <div>
            <div class="box1 col-lg-4 col-md-5 col-sm-5" >

                <div class=" form-group has-feedback" >
                    <h5 class="tag text-white">您的邮箱：   <label class="text-white">还没有账户?<a class="text-danger" href="/consumer/consumer_registerpage">注册一个</a></label></h5>
                    <input id="consumer_email" type="text" name="consumer_email" class="form-control col-lg-1 col-md-1 col-sm-3" placeholder="输入您的邮箱"/>
                </div>

                <div class=" form-group has-feedback">
                    <h5 class="tag text-white">密码：</h5>
                    <input id="consumer_password" type="password" name="consumer_password" class="form-control col-lg-1 col-md-1 col-sm-3" placeholder="输入密码"/>
                </div>

            </div>
        </div>

    </form>
    <div class="col-lg-10 col-md-10 col-sm-10 " >
        <button type="button" onclick="submit()" class="btn-primary col-sm-3 col-lg-2 col-md-3 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" style="height: 50px;margin-top: 30px">登录</button>
    </div>
</div>
</body>
</html>